# ====================================================================
# .gitignore | Freshmarket Project (Frontend & Backend)
# ====================================================================

# Dependensi / Library (Akan mengabaikan node_modules di advanced & backend)
node_modules/
jspm_packages/
web_modules/

# Hasil Build / Output Produksi
dist/
build/
out/
.next/
.cache/
.vite/
.parcel-cache/

# Kunci Rahasia / Variabel Lingkungan (SANGAT PENTING)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
credentials.json

# Log / Catatan Sistem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Konfigurasi Text Editor & IDE
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.sw?

# File Sampah OS / Sistem
.DS_Store
Thumbs.db
desktop.ini

# File Temporer / Cadangan
*~
~*
.eslintcache
.stylelintcache